<!doctype html>
<html ng-app="npm-boilerplate-browser">
  <head>
    <title>Boilerplates registry</title>
    <meta name="description" content="Discover boilerplates">
    <meta name="keywords" content="boilerplates,boilerplate,search,">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- styles -->
    <link rel="stylesheet" href="../css/boilerplates.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- open graph -->
    <meta property="og:title" content="boilerplates registry">
    <meta property="og:url" content="http://boilerplates.io/boilerplates">
    <meta property="og:description" content="Discover boilerplates that follow established boilerplate conventions">

    <!-- opensearch -->
    <link rel="search" type="application/opensearchdescription+xml" href="./opensearch.xml" />
  </head>
  <body ng-controller="BoilerplateListCtrl" class="good-font">
    <nav class="fixed-title" role="navigation">
      <a class="logo" href="/" role="banner">boilerplates</a>
      <input ng-change="limit=15" type="search" role="search" class="ng-cloak good-font boilerplate-search" placeholder="Search {{ (data | filter:filterNames).length }} boilerplates..." ng-model="search" autofocus>
    </nav>
    <section class="ng-cloak boilerplate-list-container" ng-init="limit=20" infinite-scroll="limit=limit+25" role="main">
      <ul class="boilerplate-list" ng-show="data" role="list">
        <li class="no-results" ng-hide="(data | filter:search | filter:filterNames).length">No results found</li>
        <li role="listitem" class="boilerplate"
          ng-repeat="boilerplate in data | filter:search | filter:filterNames | limitTo:limit track by $index">
          <a ng-href="https://npmjs.org/package/{{boilerplate.name}}/" target="_blank" title="Install" class="title" ng-bind="boilerplate.name"></a>
          <div class="description" ng-bind="boilerplate.description"></div>
          <div class="more-info">
            <div class="tags">
              <a ng-repeat="keyword in boilerplate.keywords | orderBy:orderByKeywords track by $index"
                ng-href="http://npmsearch.com/?q=keywords:{{keyword}}"
                target="_blank"
              ng-bind="keyword"></a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="../js/app/module.js"></script>
    <script src="../js/app/controllers/boilerplateList.js"></script>
  </body>
</html>
